
<table id="customers">
  <tr>
    <th *ngFor="let eachKey of columnKeys">{{eachKey}}</th>
  </tr>
  <tr *ngFor="let eachData of tableData">
    <td *ngFor="let eachKey of columnKeys">
      <span *ngIf="eachKey != 'profile_image'">{{eachData[eachKey]}}</span>
      <img *ngIf="eachKey == 'profile_image'"
                        [defaultImage]="defaultImage"
                        [lazyLoad]="eachData[eachKey]"
                        style="width: 10%; height: 70px; border-radius: 20px"
                      />
    </td>
  </tr>
</table>
